.checkavailability_wrapper{

}
label {  width: 300px;  
    text-align: left;
     /* color:#d73421; */
    text-transform: uppercase;
    font-family: 'HelveticaNeue-Bold'!important;
    font-size: 14px;
    font-weight: bold; }

    .abc
    {
        padding-top: 3cm;
    padding-bottom: 3cm;
    padding-left: 300px;
    padding-right: 15px;
    }

    

