.form1{
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	overflow: hidden;
}
h1{
        text-align: center;
}
label{
    overflow: hidden;
}
input,label {
    float: right;
    clear: both;
  }
.addbloodbank_wrapper{

}
